.main {
  display: grid;
  row-gap: 80px;
  padding-block: 80px;
  padding-inline: 20px;

  @include on-tablet {
    padding-block: 120px;
    padding-inline: 72px;
    row-gap: 120px;
  }

  @include on-desktop {
    row-gap: 180px;
    max-width: 1020px;
    margin-inline: auto;
    padding-block: 180px;
    padding-inline: 120px;
  }
}
