@import './utils/variables';
@import './utils/mixins';
@import './blocks/page/page';
@import './blocks/body/icon';
@import './blocks/body/header/header';
@import './blocks/body/aside/menu';
@import './blocks/body/nav';
@import './blocks/body/main/main';
@import './blocks/body/section-title';
@import './blocks/body/button';
@import './blocks/body/main/sections/move-free/move-free';
@import './blocks/body/main/sections/compare-bikes/compare-bikes';
@import './blocks/body/product';
@import './blocks/body/main/sections/the-details/the-details';
@import './blocks/body/detail';
@import './blocks/body/main/sections/contact-us/contact-us';
@import './blocks/body/form';
@import './blocks/body/address';
@import './blocks/body/footer/footer';

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}
