.page {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;

  &__menu {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;

    opacity: 0;
    transition: all .3s;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      z-index: 99;
      pointer-events: all;
      transform: translateX(0);
    }
  }

  &__body {
    margin: 0;
    background-color: $body-bg;
    scroll-behavior: smooth;
  }

  &:has(.page__menu:target) {
    overflow: hidden;
  }
}
