.contact-us {
  &__wrapper {
    @include page-grid;
  }

  &__form {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-tablet {
      grid-column: 1 / 6;
    }
  }

  &__address {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-tablet {
      grid-column: 8 / 11;
    }
  }
}
